body {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black
}
form {
  text-align: center
}
iframe {
  border: 0;
  display: none
}
