body {
  margin: 0;
  background-color: 000;
  overflow: hidden
}
iframe {
  border: 0;
  position: absolute;
  z-index: 1
}
input {
  z-index: 2;
  position: absolute;
  border: 0;
  background-color: transparent;
  cursor: default;
  outline: none;
  caret-color: transparent;
  padding: 0
}
input:nth-of-type(5) {
  z-index: 3;
  width: 100vw;
  height: 100vh;
  font-size: 5.5vh;
  font-family: Calibri;
  text-align: center
}
::placeholder { color: 808080 }
