body {
  margin: 0;
  background-color: 000
}
body::-webkit-scrollbar{
  width: 0;
  height: 0
}
iframe {
  width: calc(32000vw/683);
  height: calc(18000vw/683);
  border: 0;
  position: absolute
}
iframe:nth-of-type(1) { z-index: 1 }
iframe:nth-of-type(2) { left: calc(32000vw/683); top: calc(18000vw/683); transform: translateY(-50%) }
iframe:nth-of-type(3) { left: calc(16000vw/683); top: calc(18000vw/683) }
iframe:nth-of-type(4) { left: calc(32000vw/683); top: calc(18000vw/683) }
input {
  position: absolute;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  font-size: 5.5vh;
  font-family: Calibri;
  border: 0;
  text-align: center;
  outline: none;
  caret-color: transparent;
  cursor: default;
  padding: 0;
  z-index: 2
}
::placeholder { color: 808080 }
